

<div class="home">

  <div style="font-size: 20px;margin:40px 40px 0 40px;">
    <p>
      Dear Sirs:
      Thanks for your long time supporting and concerning! In order to offer you better service and make our quality, shipment and service best match your needs, we developed this blank  please fill in the blank with any of your comments or suggestions, we will listen to your opinions with an open mind thanks for your cooperation!
    </p>

    <br/>
    <div style="text-align:center;">
      <a class="btn btn-primary btn-block" href="/questions">Start answer questions</a>
    </div>  
  </div>
  
</div>
